<html>
    <head>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <div id='logo'>
                <a href="/">
                    <h2>Olist</h2>
                </a>
            </div>
            <div id='menu'>
                <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
                <li><a href="/message_type">Tipos de Mensagens</a></li>
                </ul>
            </div>
        </header>
        <div id="conteudo">
            <h1>Bem vindo</h1>
            
        </div>
        

    </body>
</html>
