<html>
    <head>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <div>
    
            </div>
        </header>
        <div id="conteudo">
            <h1>Bem vindo</h1>
            <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
            </ul>
        </div>
        

    </body>
</html>
