<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Nova Mensagem</title>
</head>
<body>
    <header>
        <div id='logo'>
            <a href="/">
                <h2>Olist</h2>
            </a>
        </div>
        <div id='menu'>
            <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
                <li><a href="/message">Message</a></li>
                <li><a href="/message_type">Tipos de Mensagens</a></li>
            </ul>
        </div>
    </header>
    <div id="conteudo">
        <h3>Nova Mensagem</h3>
        <div class="msg">
            <h6>{{msg}}</h6>
        </div>
        <form action="/message/salvar" method="POST">
            <label for="id">id:</label><input type="text" name="id" id="id">
            <label for="code">code:</label><input type="text" name="code" id="code">
            <label for="text_message">text_message:</label><input type="text" name="text_message" id="text_message">
            <label for="message_type">message_type:</label><input type="text" name="message_type" id="message_type">
            <div class="buttons">
                <button type="submit">Salvar</button>
                <button type="reset">Limpar</button>
            </div>
        </form>
        <div class="btn-listagem">
            <a href="/message">Voltar para listagem</a>
        </div>
    </div>
</body>
</html>