<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Message</title>

</head>
<body>
    <header>
        <div id='logo'>
            <a href="/">
                <h2>Olist</h2>
            </a>
        </div>
        <div id='menu'>
            <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
                <li><a href="/message">Message</a></li>
            </ul>
        </div>
    </header>
    <div id="conteudo">
            <h3>Mensagens Cadastradas</h3>
            <div class="msg">
                <h6>{{msg}}</h6>
            </div>
            <div id='novo'>
                <a href="/message/create">Novo</a> 
            </div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>code</th>
                    <th>text_message</th>
                    <th>message_type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for msg in message %}
                <tr>
                    <td>{{msg.id}}</td>
                    <td>{{msg.code}}</td>
                    <td>{{msg.text_message}}</td>
                    <td>{{msg.message_type}}</td>
                    <td>
                        <a href="/message/read?id={{msg.id}}">Editar</a>
                        <a href="/message/delete?id={{msg.id}}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>