<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Novo Tipo de Mensagem</title>
</head>
<body>
    <header>
        <div id='logo'>
            <a href="/">
                <h2>Olist</h2>
            </a>
        </div>
        <div id='menu'>
            <ul>
                <li><a href="/message">Mensagens</a></li>
                <li><a href="/message_type">Tipos de Mensagens</a></li>
            </ul>
        </div>
    </header>
    <div id="conteudo">
        <h3>Novo Tipo de Mensagem</h3>
        <div class="msg">
            <h6>{{msg_mt}}</h6>
        </div>
        <form action="/message_type/salvar" method="POST">
            <label for="id">id:</label><input type="text" name="id" id="id">
            <label for="name">nome:</label><input type="name" name="name" id="name">
            <label for="description">descrição:</label><input type="description" name="description" id="description">
            <div class='buttons'>
                <button type="submit" class="salvar">Salvar</button>
                <button type="reset" class="limpar">Limpar</button>
            </div>
        </form>
        <div class="btn-listagem">
            <a href="/message_type"> Voltar para listagem</a>
        </div>
    </div>
</body>
</html>