<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>message_type</title>

</head>
<body>
    <header>
        <div id='logo'>
            <a href="/">
                <h2>Olist</h2>
            </a>
        </div>
        <div id='menu'>
            <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
                <li><a href="/message">Message</a></li>
                <li><a href="/message_type">Tipos de Mensagens</a></li>
            </ul>
        </div>
    </header>
    <div id="conteudo">
        <h3>Tipos de Mensagens Cadastrados</h3>
        <div class="msg">
            <h6>{{msg}}</h6>
        </div>
        <div id='novo'>
            <a href="/message_type/create">Novo</a>    
        </div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for mt in message_type %}
                <tr>
                    <td>{{mt.id}}</td>
                    <td>{{mt.name}}</td>
                    <td>{{mt.description}}</td>
                    <td>
                        <a href="/message_type/read?id={{mt.id}}">Editar</a> |
                        <a href="/message_type/delete?id={{mt.id}}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>