<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoa Fisica - Editar</title>
</head>
<body>
    id: <input type="text" name="id" id="id" value="{{usuario.id}}" readonly>
    nome: <input type="text" name="nome" id="nome" value="{{usuario.nome}}">
    data: <input type="date" name="data" id="data" value="{{usuario.data}}">
    rg: <input type="text" name="rg" id="rg" value="{{usuario.rg}}">
    cpf: <input type="text" name="cpf" id="cpf" value="{{usuario.cpf}}">
</body>
</html>