<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Pessoa Jurídica</title>

</head>
<body>
    <header>
        <div id='logo'>
            <a href="/">
                <h2>Olist</h2>
            </a>
        </div>
        <div id='menu'>
            <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
                <li><a href="/message">Message</a></li>
            </ul>
        </div>
    </header>
    <div id="conteudo">
            <h3>Pessoas Jurídicas Cadastradas</h3>
            <div class="msg">
                <h6>{{msg_pjd}}</h6>
            </div>
            <div id='novo'>
                <a href="/pessoa_juridica/create">Novo</a> 
            </div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>data</th>
                    <th>cnpj</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for pjd in pessoas_juridicas %}
                <tr>
                    <td>{{pjd.id}}</td>
                    <td>{{pjd.nome}}</td>
                    <td>{{pjd.data}}</td>
                    <td>{{pjd.cnpj}}</td>
                    <td>
                        <a href="/pessoa_juridica/read?id={{pjd.id}}">Editar</a>
                        <a href="/pessoa_juridica/delete?id={{pjd.id}}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>