<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Nova Pessoa Jurídica</title>
</head>
<body>
    <header>
        <div id='logo'>
            <a href="/">
                <h2>Olist</h2>
            </a>
        </div>
        <div id='menu'>
            <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
            </ul>
        </div>
    </header>
    <div id="conteudo">
        <h3>Nova Pessoa Jurídica</h3>
        <div class="msg">
            <h6>{{msg_pjd}}</h6>
        </div>
        <form action="/pessoa_juridica/salvar" method="POST">
            <label for="id">id:</label><input type="text" name="id" id="id">
            <label for="nome">nome:</label><input type="text" name="nome" id="nome">
            <label for="data">data:</label><input type="text" name="data" id="data">
            <label for="cnpj">cnpj:</label><input type="text" name="cnpj" id="cnpj">
            <div class="buttons">
                <button type="submit">Salvar</button>
                <button type="reset">Limpar</button>
            </div>
        </form>
        <div class="btn-listagem">
            <a href="/pessoa_juridica">Voltar para listagem</a>
        </div>
    </div>
</body>
</html>