<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Pessoa_fisica_inicio</title>
</head>
<body>
    <header>
        <div id='logo'>
            <a href="/">
                <h2>Olist</h2>
            </a>
        </div>  
        <div id='menu'>
            <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
                <li><a href="/message">Message</a></li>
                <li><a href="/message_type">Tipos de Mensagens</a></li>
            </ul>
        </div>
    </header>
    <div id='conteudo'>
    <h3>Pessoa Fisica - Cadastrados </h3>
    {% autoescape false %}
    {% if msg %}
    <div class="msg {{msg.message_type.description}}">
        <h6>{{msg.text_message.replace(';','<br/>')}}</h6>
    </div>
    {% endif %}
    {% endautoescape %}
    <div id='novo'>
       <a href="/pessoa_fisica/create">Novo</a>
    </div>
        <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>data</th>
                <th>rg</th>
                <th>cpf</th>
                <th></th>
            </tr>
        </thead>
            <tbody>
            {% for pf in pessoa_fisica %}
                <tr>
                    <td>{{pf.id}}</td>
                    <td>{{pf.nome}}</td>
                    <td>{{pf.data}}</td>
                    <td>{{pf.rg}}</td>
                    <td>{{pf.cpf}}</td>
                    <td>
                        <a href="/pessoa_fisica/read?id={{pf.id}}">Editar</a> |
                        <a href="/pessoa_fisica/delete?id={{pf.id}}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>