<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoa Jurídica - Editar</title>
</head>
<body>
    id: <input type="text" name="id" id="id" value="{{pessoa_juridica.id}}">
    nome: <input type="text" name="nome" id="nome" value="{{pessoa_juridica.nome}}">
    data: <input type="text" name="data" id="data" value="{{pessoa_juridica.data}}">
    data: <input type="text" name="cnpj" id="cnpj" value="{{pessoa_juridica.cnpj}}">
</body>
</html>