<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Pessoa Fisica - Editar</title>
</head>
<body>
    <header>
        <div id='logo'>
            <a href="/">
                <h2>Olist</h2>
            </a>
        </div>
        <div id='menu'>
            <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
                <li><a href="/message">Message</a></li>
                <li><a href="/message_type">Tipos de Mensagens</a></li>
            </ul>
        </div>
    </header>    
    <div id="conteudo">
        <h3>Edição de Pessoa Fisica</h3>
        <div class="msg">
            <h6>{{msg_pf}}</h6>  
        </div>

        <form action="/pessoa_fisica/pessoa_fisica_edit" method="POST">
            <label for="id">id:</label><input type="text" name="id" id="id" value="{{pessoa_fisica.id}}" readonly>
            <label for="nome">nome:</label><input type="text" name="nome" id="nome" value="{{pessoa_fisica.nome}}">
            <label for="data">data:</label><input type="text" name="data" id="data" value="{{pessoa_fisica.data}}">
            <label for="rg">rg:</label><input type="text" name="rg" id="rg" value="{{pessoa_fisica.rg}}">
            <label for="cpf">cpf:</label><input type="text" name="cpf" id="cpf" value="{{pessoa_fisica.cpf}}">        
            <div class="buttons">
                <button type="submit" class="salvar">Salvar</button>
            </div>    
        </form>
        <div class="btn-listagem">
            <a href="/pessoa_fisica">Voltar a listagem</a>
        </div>    
    </div>
</body>
</html>