<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoa_fisica_inicio</title>
</head>
<body>
    <h1>Pessoa Fisica - Cadastrados </h1>
    <h4>{{msg_pf}}</h4>
    <br> 
    <a href="/pessoa_fisica/create">Novo</a>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>data</th>
                <th>rg</th>
                <th>cpf</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pf in pessoa_fisica %}
            <tr>
                <td>{{pf.id}}</td>
                <td>{{pf.nome}}</td>
                <td>{{pf.data}}</td>
                <td>{{pf.rg}}</td>
                <td>{{pf.cpf}}</td>
                <td><a href="/pessoa_fisica/read?id={{pf.id}}">Editar</a></td>
                <td><a href="/pessoa_fisica/delete?id={{pf.id}}">Deletar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>