<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Novo Produto</h1>
    <h4>{{msg}}</h4>
    <form action="/produto/salvar", method="POST">
        ID:
        <input type="text" name="id" id="id"><br>
        Nome:
        <input type="text" name="nome" id="nome"><br>
        Preco:
        <input type="number" name="preco" id="preco"><br>
        Descricao: 
        <textarea type="text" name="descricao" id="descricao"></textarea><br>
        <button type="submit">Salvar</button>
        <button type="reset">Limpar</button>
    </form>
    <br>
    <a href="/produto">Voltar a listagem</a>
</body>
</html>