<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Produto - Editar</title>
</head>
<body>
    <header>
        <div id="logo">
            <a href="/">
                <h2>Olist</h2>
            </a>
        </div>
        <div id="menu">
            <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
            </ul>
        </div>
    </header>
    <div id="conteudo">
        <h3>Edição de Produto</h3>
        <div class="msg">
            <h6>{{msg}}</h6>
        </div>
        <form action="/produto/edit" method="POST">
            <label for="id">ID:</label>
            <input type="text" name="id" id="id" value="{{produto.id}}" readonly>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" value="{{produto.nome}}">
            <label for="preco">Preco:</label>
            <input type="number" name="preco" id="preco" value="{{produto.preco}}">
            <label for="descricao">Descricao:</label>
            <textarea type="text" name="descricao" id="descricao">{{produto.descricao}}</textarea>
            <div class="buttons">
                <button type="submit" class="salvar">Salvar</button>
            </div>
        </form>
        <div class="btn-listagem">
            <a href="/produto">Voltar a listagem</a>
        </div>
    </div>
</body>
</html>