<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ID:
    <input type="text" name="id" id="id" value="{{produto.id}}" readonly>
    Nome:
    <input type="text" name="nome" id="nome" value="{{produto.nome}}">
    Preco:
    <input type="number" name="preco" id="preco" value="{{produto.preco}}">
    Descricao: 
    <textarea type="text" name="descricao" id="descricao">{{produto.descricao}}</textarea>
</body>
</html>