<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Usuários</title>

</head>
<body>
    <header>
        <div id='logo'>
            <a href="/">
                <h2>Olist</h2>
            </a>
        </div>
        <div id='menu'>
            <ul>
                <li><a href="/usuario">Usuários</a></li>
                <li><a href="/pessoa_fisica">Pessoa Física</a></li>
                <li><a href="/pessoa_juridica">Pessoa Jurídica</a></li>
                <li><a href="/produto">Produto</a></li>
                <li><a href="/message">Message</a></li>
            </ul>
        </div>
    </header>
    <div id="conteudo">
        <h3>Usuários cadastrados</h3>
        {% autoescape false %}
        {% if msg %}
        <div class="msg {{msg.message_type.description}}">
            <h6>{{msg.text_message.replace(';','<br/>')}}</h6>
        </div>
        {% endif %}
        {% endautoescape %}
        <div id='novo'>
            <a href="/usuario/create">Novo</a>    
        </div>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>email</th>
                    <th>senha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                <tr>
                    <td>{{u.id}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.senha}}</td>
                    <td>
                        <a href="/usuario/read?id={{u.id}}">Editar</a> |
                        <a href="/usuario/delete?id={{u.id}}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</body>
</html>