{% extends "utils/layout.html" %}
{% block titulo_pagina %}
    Legal Person Edition
{% endblock %}
{% block conteudo %}
        <form action="/legal_person/legal_person_edit" method="POST">
            <label for="id">id:</label><input type="text" name="id" id="id" value="{{legal_person.id}}">
            <label for="name">name:</label><input type="text" name="name" id="name" value="{{legal_person.name}}">
            <label for="date">date:</label><input type="text" name="date" id="date" value="{{legal_person.date}}">
            <label for="cnpj">cnpj:</label><input type="text" name="cnpj" id="cnpj" value="{{legal_person.cnpj}}">
            <div class='buttons'>
                <button type="submit" class="salvar">Save</button>
            </div>
        </form>
        <div class="btn-listagem">
            <a href="/legal_person">Back to the list</a>
        </div>
{% endblock %}
