
{% extends "utils/layout.html" %}
{% block titulo_pagina %}
        Registered Legal Persons
{% endblock %}
{% block conteudo %}
    <div id='novo'> 
            <a href="/legal_person/create">Novo</a> 
        </div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>date</th>
                <th>cnpj</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pjd in legal_persons %}
            <tr>
                <td>{{pjd.id}}</td>
                <td>{{pjd.name}}</td>
                <td>{{pjd.date}}</td>
                <td>{{pjd.cnpj}}</td>
                <td>
                    <a href="/legal_person/read?id={{pjd.id}}">Edit</a> 
                    <a href="/legal_person/delete?id={{pjd.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}