{% extends "utils/layout.html" %}
{% block titulo_pagina %}
    Usuários cadastrados
{% endblock %}
{% block conteudo %}
    <div id='novo'>
        <a href="/user/create">Novo</a>    
    </div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>email</th>
                <th>senha</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{u.id}}</td>
                <td>{{u.email}}</td>
                <td>{{u.password}}</td>
                <td>
                    <a href="/user/read?id={{u.id}}">Editar</a> |
                    <a href="/user/delete?id={{u.id}}">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
        