<header>
    <div id='logo'>
        <a href="/">
            <h2>Olist</h2>
        </a>
    </div>
    <div id='menu'>
        <ul>
            <li><a href="/user">Users</a></li>
            <li><a href="/pessoa_fisica">Persons</a></li>
            <li><a href="/legal_person">Legal Persons</a></li>
            <li><a href="/produto">Products</a></li>
            <li><a href="/message">Messages</a></li>
            <li><a href="/message_type">Messages Types</a></li>
        </ul>
    </div>
</header>