{% extends "utils/layout.html" %}
{% block titulo_pagina %}
    Editar Pessoa Fisica 
{% endblock %}
{% block conteudo %}    

        <form action="/pessoa_fisica/pessoa_fisica_edit" method="POST">
            <label for="id">id:</label><input type="text" name="id" id="id" value="{{pessoa_fisica.id}}" readonly>
            <label for="name">name:</label><input type="text" name="name" id="name" value="{{pessoa_fisica.name}}">
            <label for="date">date:</label><input type="text" name="date" id="date" value="{{pessoa_fisica.date}}">
            <label for="rg">rg:</label><input type="text" name="rg" id="rg" value="{{pessoa_fisica.rg}}">
            <label for="cpf">cpf:</label><input type="text" name="cpf" id="cpf" value="{{pessoa_fisica.cpf}}">        
            <div class="buttons">
                <button type="submit" class="salvar">Salvar</button>
            </div>    
        </form>
        <div class="btn-listagem">
            <a href="/pessoa_fisica">Voltar a listagem</a>
        </div>    
{% endblock %}